
<div class="post">
  <div class="post__header">
    <h2>
      Posts
    </h2>
    <%= link_to "New post", new_post_path, class: 'btn' %>
  </div>
  <ul class="list" id="posts">
    <% @posts.each do |post| %>
      <li class="list__item">
        <%= link_to edit_post_path(post) do %>
          <%= render post %>
				<% end %>
        <hr>
      </li>
    <% end %>
	</ul>
</div>