.element
  padding-bottom: 20px

  &__link
    &:hover
      opacity: 0.8
      cursor: pointer

  &__image
    max-width: 30%
    height: auto
    margin-left: auto
    margin-right: auto

  &__actions

  &__header
    display: flex
    justify-content: space-between
    align-items: center
    padding: 10px 0 10px 0
    border-bottom: var(--border-style)