<footer class="footer">
  <hr class="footer__separator">
  <div class="footer__copyright">
    <p>
      <small>
        Copyright Mulenokv, oonga-boonga
      </small>
    </p>
    <p>
      <small>
        <span style="font-size: 20px;">©</span> 2023 All Rights Reserved
      </small>
    </p>
  </div>
</footer>