<header class="header">
  <nav class="nav">
    <ul class="list list--row">
      <li class="list__item">
        <%= link_to 'Posts', posts_path, class: current_controller?('posts') ? 'link link--active' : '' %>
      </li>
      <li class="list__item">
        <%= link_to 'Home', home_path, class: current_controller?('welcome') ? 'link link--active' : '' %>
      </li>
    </ul>
  </nav>
  <div>
    <span
      data-controller="theme"
      data-action="click->theme#toggleTheme"
      data-theme="light"
      class="link <%= cookies[:theme] == 'theme' ? 'link--active' : '' %>"
    >
      light
    </span>
    <span
      data-controller="theme"
      data-action="click->theme#toggleTheme"
      data-theme="dark"
      class="link <%= cookies[:theme] == 'dark' ? 'link--active' : '' %>"
    >
      dark
    </span>
  </div>
</header>